body {
	/* Image Cred: http://www.wearepixel8.com */
	background-image: url("../public_html/images/graphy.png");
	background-color: rgba(0, 123, 121, 0.5);
	background-repeat: repeat;
}

.navbar {
	background-color: #007b79;
}
.nav {
	color: white;
	font-family: 'Roboto', sans-serif;
}

.home .about .graph {
	background-color: rgba(255, 255, 255, 0.7);
	font-family: 'Roboto', sans-serif;
	align-content: center;
}